.additional {
  @include center-wrapper;
  display: grid;

  @media (min-width: $desktop-width) {
    column-gap: 40px;
    margin-bottom: 40px;
  }
}

.additional__title {
  font-size: 24px;
  font-weight: 400;
  padding-top: 27px;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
    grid-row: 1;
  }
}

.additional__list {
  @media (min-width: $desktop-width) {
    grid-column: 1;
    grid-row: 2;
  }
}
