.button {
  background-color: $basic-green;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: $white;
  padding: 10px 73px;

  @media (min-width: $tablet-width) {
    padding: 14px 26px;
    font-size: 20px;
    line-height: 20px;
  }

  &:hover {
    text-decoration: none;
    color: $white;
    background-color: $basic-green-2;
  }
}

.button--secondary {
  background-color: $basic-grey;
  color: $special-dark-grey;
  padding: 20px 94px;

  &:hover {
    background-color: #ebebeb;
    color: $special-dark-grey;
  }
}
