.catalog {
  @include center-wrapper;
}

.catalog__title {
  //font-family: $title-font;
  font-size: 36px;
  //line-height: 36px;
  padding-top: 19px;
  padding-bottom: 29px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.catalog__list {
  display: grid;

  @media (min-width: $tablet-width) {
    grid-template-columns: 324px 324px;
    column-gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 245px 245px 245px 245px;
    column-gap: 80px;
  }
}
