//.copyright {}

.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  color: $special-dark-grey;


  &:hover {
    text-decoration: none;
  }
}
