.example {
  margin-top: 20px;
  background-color: $basic-grey-2;
}

.example__wrapper {
  @include center-wrapper;
}

.example__title {
  font-family: $title-font;
  font-size: 36px;
  padding-top: 20px;
  padding-bottom: 20px;
}

//.example__history {}

.example__text {
  line-height: 18px;
}

.example__statistic {
  margin-top: 20px;
}

.example__list {
  display: flex;
  justify-content: space-around;
}

.example__card {
  position: relative;
}

.example__number {
  font-family: $title-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  padding: 13px 20px 5px;
  border: 1px solid $special-grey;
  border-radius: 3px;
}

.example__number-description {
  color: $special-dark-grey;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  position: absolute;
  width: 60px;
  top: 87%;
  left: 18%;
}

.example__cost {
  padding-top: 20px;
  padding-bottom: 30px;
  font-family: $title-font;
  color: $black;
  text-transform: uppercase;
  text-align: center;
}

.example__photo-before {
  @media (min-width: $tablet-width) {
    width: 354px;
    height: 620px;
  }

  @media (min-width: $desktop-width) {
    width: 365px;
    height: 536px;
  }
}

.example__photo-after {
  @media (max-width: $mobile-width-only) {
    @include visually-hidden;
  }

  @media (min-width: $tablet-width) {
    width: 354px;
    height: 607px;
  }

  @media (min-width: $desktop-width) {
    width: 325px;
    height: 654px;
  }
}
