.footer {

}

.footer__bottom {
  @include center-wrapper;
  background-color: $basic-grey;
  //min-height: 236px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}
