.gift {
  background-color: $basic-green;
  background-image: url("../img/gift-photo-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  height: 284px;
  margin-top: 30px;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    height: 200px;
    background-size: 708px;
    background-position: 0 63%;
  }
  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}

.gift__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $white;
  text-align: center;
  width: 161px;
  margin-left: auto;
  margin-right: auto;

}

.gift__title::before {
  content: url("../img/icon_gift.svg");
  margin-bottom: 48px;
  padding-top: 30px;
  display: block;
}
