.how-it-work {
  @include center-wrapper;
  margin-top: 26px;
  margin-bottom: 40px;
}

.how-it-work__title {
  font-size: 36px;
  text-align: left;
  margin-bottom: 41px;
}

.how-it-work__list {
  list-style-type: none;
  padding-left: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    margin-left: 60px;
    grid-template-columns: 230px 230px;
    grid-template-rows: 280px 280px;
    column-gap: 153px;
    row-gap: 35px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 230px);
    margin-left: auto;
    grid-template-rows: 280px;
    column-gap: 94px;
  }
}

.how-it-work__item {
  color: $special-dark-grey;
  font-family: $text-font;
  line-height: 1.3571;
  min-height: 60px;
  padding-left: 80px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    position: relative;
    padding-top: 80px;
    padding-left: 0;
  }

  &::after {
    @media (min-width: $tablet-width) {
      font-size: 280px;
      font-family: $title-font;
      color: $basic-grey;
      position: absolute;
      top: -80px;
      right: 40px;
      z-index: -1;
    }
  }

  &--nutrients {
    background-image: url("../img/nutrients-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 -2px;
  }

  &--nutrients::after {
    @media (min-width: $tablet-width) {
      content: "1";
    }
  }

  &--powder {
    background-image: url("../img/powder-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 -2px;
  }

  &--powder::after {
    @media (min-width: $tablet-width) {
      content: "2";
    }
  }

  &--meal {
    background-image: url("../img/meal-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 -2px;
  }

  &--meal::after {
    @media (min-width: $tablet-width) {
      content: "3";
    }
  }

  &--time {
    background-image: url("../img/time-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 -2px;
  }

  &--time::after {
    @media (min-width: $tablet-width) {
      content: "4";
    }
  }
}
