.how-it-work {
  @include center-wrapper;
  margin-top: 20px;
}

.how-it-work__title {
  font-family: $title-font;
  font-size: 36px;
  text-align: left;
  margin-bottom: 38px;
}

.how-it-work__list {
  list-style-type: none;
  padding-left: 0;
}

.how-it-work__item {
  color: $special-dark-grey;
  min-height: 60px;
  padding-left: 80px;
  margin-bottom: 24px;

  &--nutrients {
    background-image: url("../img/nutrients_icon.svg");
    background-repeat: no-repeat;
  }

  &--powder {
    background-image: url("../img/powder_icon.svg");
    background-repeat: no-repeat;
  }

  &--meal {
    background-image: url("../img/meal_icon.svg");
    background-repeat: no-repeat;
  }

  &--time {
    background-image: url("../img/time_icon.svg");
    background-repeat: no-repeat;
  }
}
