//.location {}

.location__card {
  @include center-wrapper;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 114px;
}

.location__title {
  //font-family: $title-font;
  font-size: 16px;
  color: $black;
  text-transform: uppercase;
  line-height: 18px;
  max-width: 171px;
}

.location__text {
  font-family: $text-font;
  font-size: 14px;
  line-height: 20px;
  max-width: 159px;
}

.location__map {
  position: relative;
}

.location__iframe {
  width: 98%;
  height: 362px;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.location__here {
  position: absolute;
  top: 38%;
  left: 40%;
  width: 57px;

  @media (min-width: $tablet-width) {
    width: 113px;
  }
}
