.location {
  background-color: $basic-grey;
  position: relative;
}

.location--index {
  background-color: $white;
}

.location__card {
  @include center-wrapper;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 114px;

  @media (min-width: $desktop-width) {
    position: absolute;
    z-index: 2;
    top: 20px;
    left: 20px;
    width: 520px;
    background-color: $white;
    padding: 40px 50px;
  }
}

.location__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $black;
  text-transform: uppercase;
  max-width: 145px;
}

.location__text {
  font-family: $text-font;
  font-size: 14px;
  line-height: 20px;
  max-width: 159px;
}

.location__map {
  position: relative;
}

.location__iframe {
  width: 98%;
  height: 362px;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.location__here {
  position: absolute;
  top: 38%;
  left: 40%;
  width: 57px;

  @media (min-width: $tablet-width) {
    width: 113px;
  }
}
