.logo {
  display: block;
  width: 190px;

  @media (min-width: $tablet-width) {
    width: 174px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
  }

  &--footer {
    width: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: $tablet-width) {
      text-align: left;
      margin-left: 0;
      margin-right: 0;
    }
  }

  &:hover {
    opacity: 80%;
  }
}
