.matching {
  @include center-wrapper;
  padding-bottom: 31px;
}

.matching__title {
  font-size: 36px;
  font-weight: 400;
  color: $black;
  margin-top: 19px;
  margin-bottom: 0;
  //padding-top: 25px;
  //padding-bottom: 25px;

  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $tablet-width) {
    font-size: 60px;
    padding-top: 10px;
    padding-bottom: 0;
  }
}

.matching__text {
  text-transform: uppercase;
  color: $black;
  margin-top: 31px;
  width: 97%;
  margin-bottom: 0;

  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: 32%;
    margin-bottom: 66px;
    margin-top: 46px;
  }
}

.matching__note {
  font-family: $text-font;
  font-size: 14px;
  text-align: center;
  margin-top: 17px;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    position: relative;
    font-size: 16px;
    bottom: 57px;
    left: 129px;
  }
}
