.more {
  padding: 62px 0 21px;
  //border-bottom: 1px solid $border-grey;
  //border-top: 1px solid $border-grey;
  text-align: center;
  position: relative;
}

.more::before,
.more::after {
  @media (max-width: $mobile-width-only) {
    content: "";
    width: 100vw;
    height: 2px;
    background-color: $border-grey-catalog;
    display: block;
    margin-left: calc((100vw - 280px) / -2);
    position: absolute;
    top: 10px;
  }
}

.more__title {
  font-family: $title-font;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;

  &::before {
    display: block;
    width: 30px;
    height: 30px;
    content: url("../img/plus-icon-mobile.svg");
    position: absolute;
    top: 30px;
    left: 45%;

    @media (min-width: $tablet-width) {
      width: 60px;
      height: 60px;
      content: url("../img/plus-icon.svg");
    }
  }
}

.more__subtitle {
  font-family: $text-font;
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 20px;
  color: $special-dark-grey;
}
