.navigation__toggle {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.navigation__list {
  @media (min-width: $tablet-width) {
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }
}

.navigation__item {
  color: $black;
  font-family: $title-font;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  padding-bottom: 5px;

  &--active {
    border-bottom: 3px solid $basic-green;
  }

  &:hover {
    text-decoration: none;
    color: $black;
    opacity: 60%;
  }
}

.navigation__list--hidden {
  @media (max-width: $mobile-width-only) {
    @include visually-hidden;
  }
}
