.navigation {
  z-index: 1;
}

.navigation__toggle {
  display: none;

  @media (max-width: $mobile-width-only) {
    display: block;
    width: 25px;
    height: 25px;
  }
}

.navigation__list {
  display: flex;

  @media (max-width: $mobile-width-only) {
    width: 320px;
    background-color: $white;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
  }

  @media (min-width: $tablet-width) {
    padding-top: 14px;
    flex-direction: row;
    gap: 35px;
  }
}

.navigation__item {
  color: $black;
  //font-family: $title-font;
  font-size: 20px;
  //line-height: 20px;
  text-transform: uppercase;

  @media (max-width: $mobile-width-only) {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    border-bottom: 1px solid $border-grey;
    border-top: 1px solid $border-grey;
    font-weight: 500;
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
    //line-height: 24px;
    font-weight: 400;
    padding-bottom: 5px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    //line-height: 30px;
  }

  &--active {
    @media (min-width: $tablet-width) {
      border-bottom: 3px solid $basic-green;
    }
  }

  &:hover {
    text-decoration: none;
    color: $black;
    border-bottom: none;
    opacity: 60%;
  }

  &--index {
    @media (min-width: $desktop-width) {
      color: white;

      &:hover {
        color: $white;
      }
    }
  }
}

.navigation__item--index.navigation__item--active {
  @media (min-width: $desktop-width) {
    border-bottom: 2px solid $white;

    &:hover {
      border-bottom: none;
    }
  }
}

.navigation__list--hidden {
  @media (max-width: $mobile-width-only) {
    @include visually-hidden;
  }
}
