.page {
  height: 100%;
  box-sizing: border-box;
  font-family: $text-font;
  font-size: 14px;
  line-height: 18px;
}

.page__body {
  min-height: 100%;
  margin: 0 auto;
  background-color: $white;
  color: $special-dark-grey-2;
  //display: grid;
  /*grid-template-rows: 60px auto 712px;

  @media (min-width: $tablet-width) {
    grid-template-rows: 70px auto 750px;
  }

  @media (min-width: $desktop-width) {
    grid-template-rows: 150px auto 550px;
  }*/
}
