.page {
  height: 100%;
  font-size: 18px;
  font-family: "Oswald", "Verdana", sans-serif;
  line-height: 27px;
}

.page__body {
  min-height: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  color: #000000;
}
