.product {
  display: grid;
  grid-template-columns: 140px 142px;
}

.product__image {
  grid-row: 1 / 2;
  position: relative;
  top: 20px;
  left: 20px;
}

.product__title {
  grid-column: 2;
  grid-row: 1;
  //font-style: $title-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $special-dark-grey-2;
}

.product__description {
  grid-column: 2 / 2;
  grid-row: 2 / 2;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: $special-dark-grey;
  display: grid;
  grid-template-columns: auto auto;
}

.product__property {
  font-weight: 400;
  color: $special-dark-grey;
}

.product__value {
  text-align: right;
}
