.range {
  padding-bottom: 20px;
  margin-top: 33px;
  display: flex;
  gap: 15px;
  justify-content: center;
}

.range__text {
  //font-family: $title-font;
  font-size: 16px;
  color: $black;
  text-transform: uppercase;
  text-align: center;
  margin-left: 5px;
}

.range__scale {
  border: 1px solid $special-grey;
  border-radius: 15px;
  width: 30%;
  height: 14px;
  background-color: $white;
  position: relative;
  top: 3px;
  left: 3px;

  @media (min-width: $tablet-width) {
    width: 428px;
    height: 6px;
    background-color: #dcdcdc;
    position: relative;
  }
}

.range__mark {
  border-radius: 5px;
  width: 43%;
  height: 6px;
  background-color: $basic-green;
  align-self: center;
  margin: 3px 5px;

  @media (min-width: $tablet-width) {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    top: -4px;
    left: 50%;

    &::before {
      content: "";
      display: block;
      width: 34px;
      height: 34px;
      border: 1px solid $special-grey;
      border-radius: 50%;
      position: absolute;
      top: -14px;
      left: -13px;
    }
  }
}
