.social {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 22px;
  padding: 17px 20px;
  border-bottom: 1px solid $border-grey;
  border-top: 1px solid $border-grey;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    border-top: none;
  }
}

.social__item {
  height: 16px;
  width: 23px;
}

.social__icon:hover {
  stroke: $basic-green;
}
