.social {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 22px;
  padding: 17px 20px;
  border-bottom: 1px solid $border-grey;
  border-top: 1px solid $border-grey;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    border-top: none;
  }
}

.social__item {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;

  &--vk {
    background-image: url("../img/vkontakte-icon.svg");
  }

  &--ig {
    background-image: url("../img/instagram-icon.svg");
  }

  &--fb {
    background-image: url("../img/facebook-icon.svg");
  }
}
