.social {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 22px;
  padding: 17px 20px;
  border-bottom: 1px solid $border-grey;
  border-top: 1px solid $border-grey;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    border-top: none;
  }
}

.social__item {
  vertical-align: baseline;
}

.social__icon {
  fill: $special-grey-2;
  width: 23px;
  height: 16px;

  @media (min-width: $tablet-width) {
    width: 30px;
    height: 22px;
  }

  &--ig {
    width: 16px;

    @media (min-width: $tablet-width) {
      width: 23px;
      height: 23px;
    }
  }

  &--fb {
    width: 22px;
    height: 22px;

    @media (min-width: $tablet-width) {
      width: 28px;
      height: 33px;
    }
  }

  &:hover,
  &:focus {
    fill: $basic-green;
  }

  &:active {
    fill: transparentize($color: $basic-green, $amount: 0.7);
  }
}
