// colors

$special_dark-grey: #444444;
$special_dark-grey-2: #222222;
$basic_green: #68B738;
$basic_green-2: #5EAA2F;
$basic_grey: #F2F2F2;
$special_grey: #CDCDCD;
$special-grey-2: #666666;
$white: #FFFFFF;
$black: #000000;

// viewports

